<h1>Productos (Home)</h1>

{{#if products.length}}
<ul class="product-list">
    {{#each products}}
    <li class="product-item">
        <div class="product-head">
            <strong class="product-title">{{this.title}}</strong>
            <span class="product-price">${{this.price}}</span>
        </div>
        {{#if this.description}}
        <p class="muted product-desc">{{this.description}}</p>
        {{/if}}
    </li>
    {{/each}}
</ul>
{{else}}
<div class="empty-state">
    <p>No hay productos cargados aún.</p>
</div>
{{/if}}